@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Space+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  background-color: rgb(230, 230, 230);
  margin-bottom: auto;
}

header div {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

header div img {
  background-color: rgb(230, 230, 230);
  border-bottom: solid transparent;
  transition: border-bottom 0.4s;
}

header div img:hover {
  border-bottom: solid;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

nav p {
  border-style: inset;
  border: 3px solid black;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.5s;
}

nav p:hover {
  background-color: rgb(143, 116, 182);
}

h1 {
  text-align: start;
  border: 3px solid rebeccapurple;
  color: black;
  font-family: "Space Mono", monospace;
  background-color: rgb(230, 230, 230);
}
p {
  text-align: center;
  border: 3px solid black;
  text-decoration: none;
  color: black;
}

.mainshop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 1%;
  margin-bottom: 5%;
  margin-right: 1%;
  margin-left: 1%;
}
.mainshop div {
  background-color: rgb(230, 230, 230);
  padding: 2%;
  transition: all 0.3s ease-in-out;
}
.mainshop div:hover {
  background-color: rgb(200, 200, 200);
}

.mainshop div img {
  width: 80%;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgb(230, 230, 230);
  margin-top: auto;
}

footer p {
  background-color: #f5f5f5;
}

footer div {
  text-align: center;
  background-color: rgb(230, 230, 230);
}

footer img {
  background-color: rgb(230, 230, 230);
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social div {
  text-align: center;
}

.social img {
  width: 40%;
}

.Contact p {
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}
