@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Space+Mono:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
}

header div {
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

h1 {
  text-align: start;
  border: 3px solid rebeccapurple;
  color: black;
  font-family: "Space Mono", monospace;
}
p {
  text-align: center;
  border: 3px solid blue;
  background-color: bisque;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

footer div {
  text-align: center;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social div {
  text-align: center;
}

.social img {
  width: 40%;
}
