* {
  padding: 0;
  margin: 0;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  border: 3px solid rebeccapurple;
  background-color: bisque;
}

p {
  text-align: center;
  border: 3px solid blue;
  background-color: bisque;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.twitter {
}

.twitter img {
  width: 10%;
  height: 10%;
  display: grid;
  grid-template-areas: "a a a";
}
